<a href="https://colab.research.google.com/github/vnathu/LAP-TRINH-PYTHON-NANG-CAO/blob/main/lab02_chapter9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bai1

In [1]:
celegans_phenotypes = ['Emb','Him', 'Unc', 'Lon', 'Dpy', 'Sma']
for phenotype in celegans_phenotypes:
 print(phenotype)

Emb
Him
Unc
Lon
Dpy
Sma

Bai2

In [2]:
half_lives = [87.74, 24110.0,6537.0, 14.4, 376000.0]
for value in half_lives:
 print(value, end=' ')

87.74 24110.0 6537.0 14.4 376000.0

Bai3

In [3]:
whales = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
more_whales = []
for count in whales:
 more_whales.append(count + 1)
print(more_whales)

[6, 5, 8, 4, 3, 4, 3, 7, 5, 3, 2, 8, 2, 4]

Bai4

In [4]:
#caua
alkaline_earth_metals = [[4, 9.012], [12, 24.305],[20, 40.078], [38, 87.62],[56, 137.327], [88, 226]]
#caub
for inner_list in alkaline_earth_metals:
 print("inner_list[0]",inner_list[0])
 print("inner_list[1]",inner_list[1])
#cauc
number_and_weight = []
for inner_list in alkaline_earth_metals:
 number_and_weight.append(inner_list[0])
 number_and_weight.append(inner_list[1])
 print(number_and_weight[0])
 print(number_and_weight[1])

inner_list[0] 4
inner_list[1] 9.012
inner_list[0] 12
inner_list[1] 24.305
inner_list[0] 20
inner_list[1] 40.078
inner_list[0] 38
inner_list[1] 87.62
inner_list[0] 56
inner_list[1] 137.327
inner_list[0] 88
inner_list[1] 226
4
9.012
4
9.012
4
9.012
4
9.012
4
9.012
4
9.012

Bai6

In [5]:
text = ""
while text.lower() != "quit":
 text = input("Please enter 'QUIT' or 'quit' to exit: ")
 if text == "quit":
  print("…exiting program")
 elif text =="QUIT":
   print("…exiting program")
 else:
  print("Unknown compound")

Please enter 'QUIT' or 'quit' to exit: quit
…exiting program

Bai7

In [6]:
country_populations = [1295, 23, 7, 3, 47, 21]
total = 0
for population in country_populations:
 total += population
print(total)

1396

Bai9

In [8]:
for number in range(33, 50):
 print(number)

33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

Bai10

In [9]:
for number in range(10):
 print(10 - number, end=' ')

10 9 8 7 6 5 4 3 2 1

Bai11

In [11]:
sum = 0
count = 0
for number in range(2,23):
 sum += number
 count += 1
average = sum / count
print(average)

12.0

Bài12

In [12]:

def remove_neg(num_list):
 index = 0
 while index < len(num_list):
  if num_list[index] < 0:
    del num_list[index]
  else:
    index += 1

Bai13

In [13]:
for width in range(1, 8):
 print('T' * width)

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT

Bai14

In [14]:
for width in range(1, 8):
 print(' ' * (7 - width), 'T' * width, sep='')

      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

Bai15

In [15]:
width = 1
while width < 8:
 print('T' * width)
 width += 1
width = 1
while width < 8:
 print(' ' * (7 - width), 'T' * width, sep='')
 width += 1

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT
      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT